<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo app</title>
</head>
<body>
    <h1><%= today %></h1>

    <ul>
        <%for(i=0; i<todos.length; i++){%>
            <li><%= todos[i] %></li>
        <%}%>
        
    </ul>
    <form action="/" method="post">
        <input type="text" name="input" >
        <button type="submit" name="button">Add</button>
    </form>
</body>
</html>